<br>
<mat-card class="support-container">
    <mat-card-content class="card-seance">
      <div><b>Titre : </b> {{seance.titre}}</div>
      <div><b>Créneau horaire : </b> {{seance.creneau}}</div>                        

    </mat-card-content>
  </mat-card>


  <br>

  <div class="support-container" style="border-radius: 5px;">
    <mat-card-content class="card-comments">

    <mat-card>

      <mat-card-content style="display: flex;">
        
        <p style="margin-right: 10px; font-size: 1.2em;"><b>Lien de la réunion : </b> </p> <a href={{seance.path}} target="_blank"> {{seance.path}} </a>  
          
      </mat-card-content>
      
    </mat-card>
  </mat-card-content>
</div>

      <br>


<mat-card class="support-container">
    <p style="font-size: 1.2em;"><b>Supports: </b></p>
    <mat-card-content class="card-supports">
      <div *ngFor="let support of obs | async;" style="display: flex;">
        <div><a style=" color: white;" target="_blank" href={{support.path}}> {{support.nom}} </a></div>
        
      </div>
      <br>        
      

    </mat-card-content>
  </mat-card>

  <br>
  <br>

  <mat-card class="support-container">
    <p style="font-size: 1.2em;"><b>Commentaires: </b></p>
    <mat-card-content class="card-comments">
      <mat-card *ngFor="let commentaire of obsCommentaire | async;" style="display: flex;">
        <p><b>{{commentaire.proprietaire.nom}} {{commentaire.proprietaire.prenom}}</b></p>
        <mat-card-content>
          <p> {{commentaire.contenu}} </p>
          <span class="example-spacer"></span>
        <p>{{commentaire.date}}</p>
      </mat-card-content>
        
      </mat-card>
      <br>
      <form [formGroup]="commentaireForm"  (ngSubmit)="onCommentaireSubmit()">
      <mat-card style="display: flex;">
        <mat-card-content>
          <mat-form-field appearance="outline" style="width: 100%;" >
            <mat-label>Nouveau commentaire</mat-label>
            <input required matInput formControlName="contenu"  placeholder="Commentaire">
            
          </mat-form-field>
          <span class="example-spacer"></span>
            <button mat-raised-button style="height: 60px; margin: 5px 0 0 10px;" color="primary" type="submit" [disabled]="!commentaireForm.valid" >
              <mat-icon>add</mat-icon>
            </button>
        </mat-card-content>
      </mat-card>

    </form>
      <br>
      

    </mat-card-content>
  </mat-card>